<nav class="teal darken-4">
    <div class="container">
        <div class="nav-wrapper ">
            <a href="/" class="brand-logo left">NavBarBrand</a>

            <ul class="right hide-on-med-and-down ">
                <li><a href="/" class="">Home</a></li>
                <li><a href="#" class="">About</a></li>
                <li>
                    <a class="dropdown-trigger " href="#" data-target="Departments">Departments</a>
                </li>
                <div class="dropdown-content" id="Departments">
                    <a class="teal-text" href="#">Department 1</a>
                    <a class="teal-text" href="#">Department 2</a>
                    <a class="teal-text" href="#">Department 3</a>
                    <a class="teal-text" href="#">Department 4</a>
                    <a class="teal-text" href="#">Department 5</a>
                    <a class="teal-text" href="#">Department 6</a>
                    <a class="teal-text" href="#">Department 7</a>
                    <a class="teal-text" href="#">Department 8</a>
                    <a class="teal-text" href="#">Department 9</a>
                    <a class="teal-text" href="#">Department 10</a>
                </div>
                <li><a href="/chart" class="">Chart Room</a></li>

                <li>
                    <a class="dropdown-trigger black-text" href="#" data-target="Account">
                        Account
                    </a>
                </li>
                <div class="dropdown-content center" id="Account">
                    <a class="teal-text darken-4 white" href="/patient/signin">SignIn</a>
                    <a class="teal-text darken-4 white" href="/patient/signup">SignUp</a>
                    <a class="teal-text darken-4 white" href="/patient/signout">signout</a>
                    <a class="teal-text darken-4 white" href="/patient/profile">Profile</a>
                </div>


            </ul>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger right ">
                <i class="fas fa-bars"></i>
            </a>

            <ul class="sidenav teal darken-4" id="mobile-demo">
                <li><a href="/" class="white-text">Home</a></li>
                <li><a href="#" class="white-text">About</a></li>
                <li>
                    <a class="dropdown-trigger white-text" href="#" data-target="Department">Departments</a>
                </li>
                <div class="dropdown-content" id="Department">
                    <a class="teal-text" href="#">Department 1</a>
                    <a class="teal-text" href="#">Department 2</a>
                    <a class="teal-text" href="#">Department 3</a>
                    <a class="teal-text" href="#">Department 4</a>
                    <a class="teal-text" href="#">Department 5</a>
                    <a class="teal-text" href="#">Department 6</a>
                    <a class="teal-text" href="#">Department 7</a>
                    <a class="teal-text" href="#">Department 8</a>
                    <a class="teal-text" href="#">Department 9</a>
                    <a class="teal-text" href="#">Department 10</a>
                </div>
                <li><a href="#" class="white-text">Chart Room</a></li>
                <li>
                    <a class="dropdown-trigger black-text" href="#" data-target="Accounts">
                        Account
                    </a>
                </li>
                <div class="dropdown-content center" id="Accounts">
                    <a class="teal-text darken-4 white" href="/patient/signin">SignIn</a>
                    <a class="teal-text darken-4 white" href="/patient/signup">SignUp</a>
                    <a class="teal-text darken-4 white" href="/patient/signout">Signout</a>
                </div>

                <li style="margin-top: 54vh;">
                    <p class="center red-text"><span class="white-text">For more Designs,</span> contact
                        08149628204</p>
                </li>
            </ul>
        </div>
    </div>
</nav>